* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #0F2B26;
}

.page-content {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}

.clock {
  width: 100%;
  text-align: center;
  color: white;
  display: none;
  animation: clock-in 700ms ease both;

  &__items {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }

  &__colon {
    height: 100%;
    padding: 10px;
    font-size: 100px;
  }

  &__item {
    height: 100%;
    padding: 20px;
    font-size: 100px;
  }


}

@keyframes clock-in {
  0% { 
    transform: scale(0) rotate(12deg); 
    opacity: 0; 
    visibility: hidden;  
  }
  100% { 
    transform: scale(1) rotate(0); 
    opacity: 1; 
    visibility: visible; 
  }
}

@keyframes out {
  0% { 
    ransform: scale(1) rotate(0); 
    opacity: 1; 
    visibility: visible; 
  }
  100% { 
    transform: scale(0) rotate(-12deg); 
    opacity: 0; 
    visibility: hidden;  
  }
}
